body {
	margin: 0px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2a/206_Rotterdam_bridge.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0px;
    margin-top: 20%;
    padding: 0.5em;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    margin: 0px;
    padding-bottom: 0.5em;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
}


p {
    margin: 0px;
    padding: 1em;
    padding-bottom: 0;
    background: white;
    line-height: 1.5em;
}

.content {
	margin: 0px;
	margin-left: auto;	
	margin-right: auto; 
	max-width: 600px;
	padding-left: 1%;
	padding-right: 1%;
}